.header-container {
  display: flex;
  justify-content: space-between;
}

.left-icons img,
.right-icons img {
  filter: invert(1);
}

.left-icons img {
  margin-right: 20px;
}

.nav-container img {
  width: 100px;
  height: auto;
}
